/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  box-sizing: border-box;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
.bordered {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 16px;
  padding: 10px;
  background-color: lightgray;
}
body {
  flex-direction: column;
  border: solid yellow;
}
header nav {
  display: flex;
  border: red;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}
 .bordered {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 16px;
  padding: 10px;
  background-color: lightgray;
 }

header nav a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 16px;
  padding: 10px;
  background-color: lightgray;
}
section {
  border: blue;
}
ul, ol {
  border: solid brown;
}
div, section section{
  width: 100%;
  border: dashed green;
  margin-top: 10px;
  margin-bottom: 10px;
}
img {
  width: 25%;
  height: 25%;
}
@media (max-width: 500px) {
  body {
    background: purple;
  }
  body img {
    size: 200%;
  }
}
div section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div section a {
  width: 25%;
}

section {
  display:flex;
}

.buddies {
  width: 50%;
}

.maindiv {
  background: lightskyblue;
}
p, h2 {
  border: solid orange;
  margin: 10px;
}
h1 {
  font-size: 200%;
  border: solid pink;
}
